@model TechFest.Models.tblEventHead

@{
    Layout = null;
    List<SelectListItem> listgender = new List<SelectListItem>();
    listgender.Add(new SelectListItem { Text = "Male", Value = "Male" });
    listgender.Add(new SelectListItem { Text = "Female", Value = "Female" });
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Styling/Site.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Event Head | SignUp</title>
    <style>
        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%,-50%);
            width: 400px;
            background-color: whitesmoke;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 12px, 24px, 43px, 16px;
        }
    </style>
    <script>
        function showGif() {
            document.getElementById('gif').style.display = "inline";
        }
    </script>
</head>
<body style="background-color:#73C6B6;">
    <div class="box">
        <a style="text-align:center;" href="@Url.Action("Index","Home")" class="btn btn-lg"><i class="glyphicon glyphicon-home"></i></a>
        <hr />
        @using (Html.BeginForm("SignUp", "EventHeads", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("Gender", listgender, "Select Gender", htmlAttributes: new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "RegNo E.g CIIT/SP16-BSE-0xx/ATK" } })
                        @Html.ValidationMessageFor(model => model.RegNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Profile Picture:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="Imagefile" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input onclick="showGif()" type="submit" value="SignUp" class="btn btn-success btn-block" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span class="text-danger">@ViewBag.error</span>
                    </div>
                </div>
            </div>
            <hr />
            <div style="text-align:center">
                <a href="@Url.Action("Index","EventHeads")" class="btn btn-link">Already have an account?</a>
            </div>
            <div style="text-align:center">
                <img src="~/ProfilePhotos/3.gif" style="display:none;" id="gif" />
            </div>
        }
    </div>

</body>
</html>
