<!DOCTYPE html>
<html>
<head>
    @{
        string participant= Session["Participant"].ToString();
        TechFest.Models.dbTechFestEntities db = new TechFest.Models.dbTechFestEntities();
        var participantlist = db.tblParticipants.Find(participant);
    }
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/_Feed.css" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        //function showGif() {
        //    document.getElementById("gif").style.display = "inline";
        //    document.getElementById("bodyid").style.opacity = "0.5";
        //}
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:#F7F9F9">
    <div class="container-fluid">
        <div class="row" style="width:100%;">
            <div class="col-md-2 text-center">
                <img title="Profile Picture" data-toggle="tooltip" data-placement="right" class="img-thumbnail" width="70" src="@Url.Content(participantlist.ProfilePhoto)">
                @using (Html.BeginForm("Logout", "Participant", FormMethod.Post))
                {
                    <br />
                    <button style="border:none;" type="submit" data-toggle="tooltip" title="Logout" data-placement="right" class="btn btn-lg btn-link" onclick="showGif()"><i class="glyphicon glyphicon-off"></i></button>
                }
                <a data-toggle="tooltip" title="Profile" class="btn btn-info btn-lg btn-block" href="@Url.Action("Details","EventHeads",new { Email = participantlist.Email})"><i class="glyphicon glyphicon-user"></i> @participantlist.Name</a>
                <br />
                <div class="panel-group text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="font-size:16pt;">
                                <a href="#collapse1" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-tasks"></i> Menu
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="list-group text-left">
                                <li class="list-group-item">
                                    <a data-toggle="tooltip" title="Home" style="font-size:13pt;" href="@Url.Action("Dashboard","Organizer")"><span class="glyphicon glyphicon-home"> Home</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tooltip" title="Event Heads" style="font-size:13pt;" href="@Url.Action("EventHeads","Organizer")"><span class="glyphicon glyphicon-user"> Event Heads</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tooltip" title="Participants" style="font-size:13pt;" href="@Url.Action("Participants","Organizer")"><span class="glyphicon glyphicon-user"> Participants</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tooltip" title="Albums" style="font-size:13pt;" href="@Url.Action("Albums","Organizer")"><span class="glyphicon glyphicon-tags"> Albums</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h5 style="text-align:center; color:orange"><i class="glyphicon glyphicon-copyright-mark"></i> TechFest</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>