@model IEnumerable<TechFest.Models.tblParticipant>

@{
    ViewBag.Title = "Participants";
    Layout = "~/Views/Shared/_LayoutOrganizer.cshtml";
}
<div class="jumbotron text-center">
    <h2>Participants</h2>
    <p>Total number of participants are listed bellow</p>
</div>
<hr />

<table class="table table-bordered">
    <tr>
        <th>
            Profile Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            Registration Number
        </th>
        <th>
            Profile Approved
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            <img class="img-thumbnail" width="40" src="@Url.Content(item.ProfilePhoto)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
    </tr>
}

</table>
